* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Alegreya Sans SC", sans-serif;
}

body {
    background-color: #FAFAFA;
    height: 100%;
}

.verse {
    position: absolute;
    width: 1206px;
    height: 120px;
    left: calc(50% - 1206px/2);
    top: 348px;
    background: #D4E9E2;
    padding: 2.5rem 4.8rem;
}

.text {
    text-align:center;
}


